import(MCMCpack)
importFrom("qvalue","pi0est")
importFrom("graphics", "boxplot", "par")
importFrom("stats", "dbinom", "dhyper", "fisher.test", "kmeans",
             "pbinom", "phyper", "quantile")
importFrom("stats", "stepfun","runif")
export(GeneralizedEstimatorsGrouped,GeneralizedFDREstimators,BHPlusTwoSide)


